#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1



Makefile:
	cd $(CURDIR) && ./autogen.sh

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: Makefile configure-stamp
	dh_testdir

	# Add here commands to compile the package.
	cd $(CURDIR) && $(MAKE)

	touch $@

clean: Makefile 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	cd $(CURDIR) && $(MAKE) clean
	rm -f Makefile

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/wifidog-gateway.
	cp $(CURDIR)/wifidog.conf $(CURDIR)/debian/wifidog-gateway/etc
	cp $(CURDIR)/wifidog-msg.html $(CURDIR)/debian/wifidog-gateway/etc

	cp $(CURDIR)/debian/wifidog-gateway.sysctl $(CURDIR)/debian/wifidog-gateway/etc/sysctl.d

	cp $(CURDIR)/wifidog-msg.html $(CURDIR)/debian/wifidog-gateway/etc
	cp $(CURDIR)/src/wdctl $(CURDIR)/debian/wifidog-gateway/usr/bin
	cp $(CURDIR)/src/.libs/wifidog $(CURDIR)/debian/wifidog-gateway/usr/bin

	cp $(CURDIR)/libhttpd/httpd.h $(CURDIR)/debian/wifidog-gateway/usr/include/wifidog

	cp $(CURDIR)/libhttpd/.libs/libhttpd.a $(CURDIR)/debian/wifidog-gateway/usr/lib
	cp $(CURDIR)/libhttpd/.libs/libhttpd.la $(CURDIR)/debian/wifidog-gateway/usr/lib
	cp $(CURDIR)/libhttpd/.libs/libhttpd.so.0.0.0 $(CURDIR)/debian/wifidog-gateway/usr/lib
	ln -s libhttpd.so.0.0.0 $(CURDIR)/debian/wifidog-gateway/usr/lib/libhttpd.so.0
	ln -s libhttpd.so.0.0.0 $(CURDIR)/debian/wifidog-gateway/usr/lib/libhttpd.so


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
	dh_installinit --no-start
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	dh_systemd_enable --no-enable

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
